name: main-pull
permissions:
  contents: read
  pull-requests: read
run-name: CI/CD Pipeline to run on merge to main
on:
  push:
    branches: main
  pull_request:
    branches: main
jobs:
  fmt_and_lint:
    name: Compile and check formatting/linting.
    runs-on: arc-public-large-amd64-runner
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # 11bd71901bbe5b1630ceea73d27597364c9af683
        with:
          persist-credentials: false
      - uses: dtolnay/rust-toolchain@4be9e76fd7c4901c61fb841f559994984270fce7 # stable
        with:
          profile: minimal
          toolchain: stable
          components: rustfmt, clippy
      - name: Run 'make check'
        run: make check

  test-dev-seq:
    name: Run standard tests without parallelism
    runs-on: arc-public-large-amd64-runner
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # 11bd71901bbe5b1630ceea73d27597364c9af683
        with:
          persist-credentials: false
      - uses: dtolnay/rust-toolchain@4be9e76fd7c4901c61fb841f559994984270fce7 # stable
        with:
          profile: minimal
          toolchain: stable
      - name: Run 'make test-dev-seq'
        run: make test-dev-seq

  test-dev-par:
    name: Run standard tests with parallelism
    runs-on: arc-public-large-amd64-runner
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # 11bd71901bbe5b1630ceea73d27597364c9af683
        with:
          persist-credentials: false
      - uses: dtolnay/rust-toolchain@4be9e76fd7c4901c61fb841f559994984270fce7 # stable
        with:
          profile: minimal
          toolchain: stable
      - name: Run 'make test-dev-par'
        run: make test-dev-par

  test-ignored:
    name: Run slower tests
    runs-on: arc-public-large-amd64-runner
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # 11bd71901bbe5b1630ceea73d27597364c9af683
        with:
          persist-credentials: false
      - uses: dtolnay/rust-toolchain@4be9e76fd7c4901c61fb841f559994984270fce7 # stable
        with:
          profile: minimal
          toolchain: stable
      - name: Run 'make test-ignored'
        run: make test-ignored
#  mem_limit_test:
#    name: Memory Limit Test
#    runs-on: [self-hosted, amd64, rust]
#    steps:
#      - uses: actions/checkout@v2
#      - uses: actions-rs/toolchain@16499b5e05bf2e26879000db0c1d13f7e13fa3af
#        with:
#          profile: minimal
#          toolchain: stable
#      - name: Install cgroup-tools
#        run: sudo apt-get update && sudo apt-get install -y cgroup-tools
#      - name: Create cgroups
#        run: sudo cgcreate -g memory:makefile_memory_limited_group
#      - name: Run 'make mem-lim'
#        run: make mem-lim
