name: master-pull
run-name: CI/CD Pipeline to run on merge to master
on:
  push:
    branches: master
  pull_request:
    branches: master
jobs:
  fmt_and_lint:
    name: Compile and check formatting/linting.
    runs-on: [self-hosted, amd64, rust]
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          components: rustfmt, clippy
      - name: Run 'make check'
        run: make check

  test:
    name: Run tests
    runs-on: [self-hosted, amd64, rust]
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
        with:
          profile: minimal
          toolchain: stable
      - name: Run 'make test'
        run: make test
