name: master-pull
run-name: CI/CD Pipeline to run on merge to master
on:
  push:
    branches: master
  pull_request:
    branches: master
jobs:
  fmt_and_lint:
    name: Compile and check formatting/linting.
    runs-on: [self-hosted, amd64, rust]
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          components: rustfmt, clippy
      - name: Run 'make check'
        run: make check

  test-dev:
    name: Run standard tests
    runs-on: [self-hosted, amd64, rust]
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
      - name: Run 'make test-dev'
        run: make test-dev

  test-ignored:
    name: Run slower tests
    runs-on: [self-hosted, amd64, rust]
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
      - name: Run 'make test-ignored'
        run: make test-ignored

#  mem_limit_test:
#    name: Memory Limit Test
#    runs-on: [self-hosted, amd64, rust]
#    steps:
#      - uses: actions/checkout@v2
#      - uses: actions-rs/toolchain@v1
#        with:
#          profile: minimal
#          toolchain: stable
#      - name: Install cgroup-tools
#        run: sudo apt-get update && sudo apt-get install -y cgroup-tools
#      - name: Create cgroups
#        run: sudo cgcreate -g memory:makefile_memory_limited_group
#      - name: Run 'make mem-lim'
#        run: make mem-lim
