#TODO: Add tests for different feature permutations
#TODO: Add automation for benching w/ criterion

name: master-pull
run-name: CI/CD Pipeline to run on merge to master
on:
    push:
        branches: master
    pull_request:
        branches: master
jobs:
    check_and_test:
        name: Check and Test Remainder
        runs-on: Remainder_CI
        steps:
            - uses: actions/checkout@v2
            - uses: actions-rs/toolchain@v1
              with:
                profile: default
                toolchain: stable
            - name: Run cargo check
              run: cargo check --features parallel
            - name: Run tests with rayon ON.
              run: cargo test --features parallel
            - name: Run tests with rayon OFF.
              run: cargo test
            - name: Run hyrax_worldcoin ignored tests.
              run: cargo test --release --features parallel --package remainder-hyrax --lib -- --ignored hyrax_worldcoin::test_worldcoin
            - name: Run worldcoin ignored tests.
              run: cargo test --release --features parallel --package remainder --lib -- --ignored worldcoin::tests

    fmt_and_lint:
        name: Format and Lint Remainder
        runs-on: Remainder_CI
        steps:
            - uses: actions/checkout@v2
            - uses: actions-rs/toolchain@v1
              with:
                profile: default
                toolchain: stable
            - run: rustup component add rustfmt clippy
            - uses: actions-rs/cargo@v1
              with:
                command: fmt
                args: --all -- --check
            - uses: actions-rs/cargo@v1
              with:
                command: clippy
                args: --no-deps -- -D warnings

    mem_limit_test:
        name: Memory Limit Test
        runs-on: Remainder_CI
        steps:
            - uses: actions/checkout@v2
            - uses: actions-rs/toolchain@v1
              with:
                profile: default
                toolchain: stable
            - name: Install cgroup-tools
              run: sudo apt-get install cgroup-tools
            - name: Create memory-limited cgroup
              run: |
                sudo mkdir /sys/fs/cgroup/hook_memory_limited_group
                echo 500M | sudo tee /sys/fs/cgroup/hook_memory_limited_group/memory.max
                echo 0 | sudo tee /sys/fs/cgroup/hook_memory_limited_group/memory.swap.max
            - name: Compile binary
              run: cargo build --release --bin worldcoin
            - name: Run binary under memory limit
              run: |
                sudo cgexec -g memory:hook_memory_limited_group ./target/release/worldcoin
              continue-on-error: false
